p {
  text-align: justify;
}

.main-background {
  background-color: rgba(11, 196, 39, 0.11);
}

/* navbar */
.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.555);
}

.navbar-transparent .navbar-nav .nav-link:hover {
  color: rgb(9, 226, 38);
}

.navbar-transparent .navbar-brand {
  color: rgba(221, 134, 134, 0.966);
  font-size: 22px;
}

.navbar-transparent .navbar-nav .nav-link {
  color: rgba(221, 134, 134, 0.966);
  font-size: 18px;
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:focus {
  color: rgb(9, 226, 38);
}

.navbar-transparent .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* footer */
a {
  color: blanchedalmond;
}

.footer-skinny {
  background-color: rgb(50, 53, 59);
  height: 115px;
}

.copyright {
  padding-top: 5px;
  color: aliceblue;
}

.site-info .menu li {
  display: inline-block;
}

.menu-centered>.menu {
  text-align: center;
}

.menu-centered>.menu .submenu li {
  text-align: left;
}

.social-links {
  font-size: 1.5625rem;
  height: 20px;
  color: rgb(6, 199, 32);
  text-align: center;
  size: large;
}

.fa {
  color: rgb(6, 199, 32);
  margin: 6px;
}
