a:link{
    color: rgb(58, 102, 22);
}


.main-row {
  background-color: #e6f3e6;
}

.test-border {
  border: 2px solid black;
  padding-left: 2px;
  padding-right: 2px;
}

.main-div {
  margin-top: 10px;
  margin-bottom: 45px;

  border: 2px solid rgb(8, 209, 35);
  padding-bottom: 10px;
  background-color: rgb(255, 255, 255);

  box-shadow: 0 2px 10px rgba(36, 189, 216, 0.35);
  -webkit-box-shadow: 0 2px 6px rgba(57, 73, 76, 0.35);
}

.div-pop {
  border: 2px solid #70c91c;
  padding: 8px 2px 18px 2px;
  margin: 3px 5px 5px 5px;
}

.name-div {
  padding: 2px;
}

.btn-type {
  width: 100%;
  background-color: rgb(9, 226, 38);
}

.btn-select {
  background-color: #1ecfd6;
  color: black;
}
.btn-signup {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;

}

.mainName {
  color: #46344e;
  text-align: center;
  padding-top: 10px;
  font-size: 36px;
  border-color: #86d19f;
}

.bg-userName {
  background-color: aliceblue;
}

.input-container {
  display: flex;
  width: 84%;
}

.input-container-email {
  display: flex;
  width: 100%;
}

.icon {
  padding-top: 11px;
  /* padding-left: 2px; */
  font-size: 25px;
  margin-left: 0px;
  /* //    border: 1px solid black; */
  height: 20px;
  color: rgb(6, 199, 32);
  text-align: center;
  size: large;
}

.icon-secuirity {
  padding-top: 0px;
  padding-right:0px;
  padding-left: 0px; 
  /* padding-left: 2px; */
  font-size: 13px;
  margin-left: 0px;
  margin-right: 0px;

  /* //    border: 1px solid black; */
  height: 18px;
  color: rgb(9, 226, 38);
  text-align: center;
  size: large;
}

.userName {
  margin: 5px;
}

.userPassword {
  margin: 5px;
}

.select-secuirity {
  width: 100%;
  padding-left: 2px;
  padding-right: 2px;
  margin: 0px;
  font-size: 10px;
}

.input-secQuestion{
    width: 100%;
    margin-bottom: 10px;
}

/* //for centered horizontal line */
.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}

/* footer */

a{
    color: blanchedalmond;
}
.footer-skinny{
    background-color: rgb(50, 53, 59);
    height: 115px;
}
.copyright{
    padding-top: 5px;
    color: aliceblue;
}


.site-info .menu li{
	display:inline-block;
}
.menu-centered>.menu{
	text-align:center;
}
.menu-centered>.menu .submenu li{
	text-align:left;
}

.social-links{
	font-size:1.5625rem;
	height: 20px;
  	color: rgb(6, 199, 32);
  	text-align: center;
  	size: large;
}

.fa{
	color: rgb(6, 199, 32);
	margin: 6px;
}


/* navbar */
.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.555);
}

.navbar-transparent .navbar-nav .nav-link:hover {
  color: rgb(9, 226, 38);
}

.navbar-transparent .navbar-brand {
  color: rgba(221, 134, 134, 0.966);
  font-size: 22px;
}
.navbar-transparent .navbar-nav .nav-link {
  color: rgba(221, 134, 134, 0.966);
  font-size: 18px;
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:focus {
  color: rgb(9, 226, 38);
}
.navbar-transparent .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
